.bg-container {
    background-image: url('https://i.postimg.cc/FFDQHkNJ/subscribe-g1a99ee14e-1280.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: rgb(0, 0, 0);
    font-size: 42px;
    font-weight: bold;
    font-family: 'Arial';
}

.btn {
    background-color: rgb(22, 170, 203);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 6px;
    border-width: 2px;
    border-color: black;
    padding: 12px;
}